$primary-color: #8d75bc;
$secondary-color: #f4c65f;
$show-bg-image: true;
$img-accueil: url("../img/backgrounds/accueil_background.jpg");
$img-fitness-moi: url("../img/backgrounds/fitness&moi_background.jpg");
$img-specialites: url("../img/backgrounds/specialites_background.jpg");
$img-tarifs: url("../img/backgrounds/tarifs_background.jpg");
$img-contact: url("../img/backgrounds/contact_background.jpg");

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-bg-image {
    &#accueil_img {
      background: $img-accueil;
      background-attachment: fixed;
      background-size: cover;
      @media screen and (max-width: 700px) {
        background-position: center;
      }
    }

    &#fitness_moi {
      background: $img-fitness-moi;
      background-attachment: fixed;
      background-size: cover;
      @media screen and (max-width: 700px) {
        background-position: center;
      }
    }

    &#specialites {
      background: $img-specialites;
      background-attachment: fixed;
      background-size: cover;
      @media screen and (max-width: 700px) {
        background-position: center;
      }
    }

    &#tarifs {
      background: $img-tarifs;
      background-attachment: fixed;
      background-size: cover;
      @media screen and (max-width: 700px) {
        background-position: center;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 80%;
        margin: 9%;
        z-index: -1;
        background: rgba($primary-color, 0.2);
        @media screen and (max-width: 975px) {
          visibility: hidden;
        }
    }
    }

    &#contact {
      background: $img-contact;
      background-attachment: fixed;
      background-size: cover;
      @media screen and (max-width: 700px) {
        background-position: right;
      }
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 975px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 976px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
