// Widescreens
@include mediaXl {
}


// Desktops & Laptops
@include mediaLg {
    .menu {
        text-align: left;
        .nav-item > .nav-link {
            font-size: 20px;
        }
    }

    .box-pricing {
        .square-title {
            font-size: 22px;
        }
        .pricing-content {
            font-size: 19px;
        }

        .coaching-prive {
            right: 55%;
            width: 55%;
        }

        .coaching-online {
            left: 55%;
            width: 55%;
        }
    }

}

// Tablets & Small Laptops
@include mediaMd {

    // MENU BAR
    main {
        align-items: center;
        text-align: center;

        .main-title {
            margin-top: 75px;
        }
    
        .lg-heading {
            font-size: 2.5rem;
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sm-heading {
            font-size: 1.5rem;
        }
    }

    .fade {
        h3 {
            font-size: 2rem;
        }
    }

    .menu-btn {
        visibility: visible;
        z-index: 7;
    }

    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
        visibility: hidden;
        z-index: 6;

        &.show {
            visibility: visible;
        }

        &-nav {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            float: left;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            transform: translate3d(600px, 0, 0);
            @include easeOut;
        
            &.show {
            // Slide in from right
            transform: translate3d(0, 0, 0);
            }
        
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 30px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: set-text-color($primary-color);
            text-decoration: none;
            @include easeOut;
        
            &:hover {
            color: white;
            }
        }

    }


    // Delay each nav item slide by 0.1s
    @for $x from 1 through 4 {
        .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
        }
    }

    //FITNESS ET MOI
    #fitnessetmoi-title {
        top: 5px;
    }

    .box-title {
        top: 25px;
        left: 25px;
        font-size: 25px;
        .bigger {
            font-size: 35px;
            border: none;
        }
    }

    //TARIF
    .box-pricing {
        margin-top: 25%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 100%;
        z-index: -1;

        .coaching-online, .coaching-prive {
            position: unset;
            transform: skew(0);
            width: 90%;
            margin: auto;

            .square-title {
                text-align: center;
                transform: skew(0);
                margin-left: 0;
                margin-right: 0;
            }
            
            .pricing-content {
                font-size: 15px;
                margin-left: 0;
                margin-right: 0;
                padding: none;
                text-align: center;
                font-style: normal;
                transform: skew(0);
            }
        }
    }

    

    //CONTACT
    .contact {
        font-size: 40px;
    }
    .contact_box {
        font-size: 20px;
        width: 50%;
    }

}


// Smartphones
@include mediaSm {

    main {
        align-items: center;
        text-align: center;

        .main-title {
            margin-top: 35%;
        }
    
        .lg-heading {
            font-size: 1.8rem;
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sm-heading {
            font-size: 1.3rem;
        }
    }

    @if $show-bg-image {
        &#fitness_moi {
            background: $img-fitness-moi;
            background-attachment: fixed;
            background-size: cover;
            background-position-x: center;
          }
    }

    #fitnessetmoi-title {
        top: 25px;
        left: 25px;
        font-size: 25px;
        .bigger {
            font-size: 35px;
            border: none;
        }
    }

    .box {
        padding: 0.2rem 1rem;
        margin-top: 4.3rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        .cursive {
            font-size: 22px;
            text-align: left;
        }
    
        .desc {
            font-size: 15px;
        }
    }

    .contact {
        font-size: 40px;
    }
    .contact_box {
        width: 90%;
        margin: auto;
        margin-top: 30%;
        padding: 10% 0 2% 0;
        font-size: 15px;
    }

    .icons {
        width: 90%;
        margin: auto;
        margin-top: 8%;
    }

    //SPECIALITES
    .box-specialties {
        margin: 0.5rem;
        margin-top: 32%;
        padding: 0rem;
        display: grid;
        background: none;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    
        .spec_caf {
            grid-row: 1;
            grid-column: 2;
        }
    
        .spec_gym {
            grid-row: 1;
            grid-column: 4;
        }
        
        .spec_muscu {
            grid-row: 4;
            grid-column: 2;
        }
    
        .spec_running {
            grid-row: 4;
            grid-column: 4;
        }
    
        .spec_coachingpers {
            grid-row: 7;
            grid-column: 2;
        }
    
        .spec_stretching {
            grid-row: 7;
            grid-column: 4;
        }
    
        .spec_prepaphysique {
            grid-row: 10;
            grid-column: 3;
        }
        
    }
}